<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title%}{% endblock%}
        </title>
        <link rel="stylesheet" href={{ url_for('static', filename='formstyles.css') }} >
        <link rel="stylesheet" href={{ url_for('static', filename='styles.css') }} >
    </head>
    <body>
        <div class="container">
            <div class="body-left">
                <a href={{ url_for('home') }} >Home</a>
                <a href="#">subscriptions</a>
                <a href="#">library</a>
                <a href="{{ url_for('playlist') }}">playlists</a>
            </div>
            <div class='body-right'>
                <div class="top-nav">
                    <div class="nav-left-group">
                        <img class='svg' src= {{ url_for('static', filename="assets/SVGs/youtube.svg") }} />
                        <h1>YouTube</h1>
                    </div>
                    <input type="text" placeholder="search" />
                    <div class='nav-right-group'>
                        <a href={{ url_for('upload_video') }}><img class='svg' src= {{ url_for('static', filename="assets/SVGs/camera-video.svg") }} /></a>
                        <img class='svg' src= {{ url_for('static', filename="assets/SVGs/bell-fill.svg") }} />

                        <a href={{ url_for('account') }}><img class='svg' src= {{ url_for('static', filename="assets/SVGs/person-circle.svg") }} /></a>
                    </div>
                </div>
                <div class="fyp">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
