<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
<style>
body {
    background-color:black;
}

.container > form{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.container label{
    color: white;
}
</style>
    </head>
    <body>
        <div class="container">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <label>{{ form.username.label() }}</label>
                {{ form.username() }}
                <label>{{ form.password.label() }}</label>
                {{ form.password() }}

                {{ form.submit() }}
            </form>
        </div>
    </body>
</html>
