<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href={{ url_for('static', filename='formstyles.css') }} >
    </head>
    <body>
        <div class="container">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <label>{{ form.username.label() }}</label>
                {{ form.username() }}
                <label>{{ form.password.label() }}</label>
                {{ form.password() }}

                {{ form.submit() }}
            </form>
            <h3>don't have an acc?<a href = {{ url_for('signup') }} >sign up<a/>

        </div>
    </body>
</html>
