{% extends "layout.html" %}
{% block title %}Playlist{% endblock %}
{% block content %}
    <div class="container">
        <form method="POST" action="">
            <h2>create a playlist</h2>
            {{ form.hidden_tag() }}
            <label>{{ form.title.label }}</label>
            {{ form.title }}
            <label>private</label>
            {{ form.private() }}
            {{ form.submit() }}
        </form>

        {% for playlist in playlists %}
            <h3>{{ playlist.title }}</h3>
            <h4>{{ playlist.user }}</h4>
        {% endfor %}

    </div>
{% endblock %}
